{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"], // presets are applied in reverse order one by one.
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
